<div class="small-12 columns">
  <h1>Gallery</h1>
  <ul class="small-block-grid-5">
    <% @images.each do |image| %>
      <li>
        <%= link_to image_tag(image.img.url, alt: image.caption), piece_image_path(image.piece, image), class: 'th' %>
      </li>
    <% end %>
  </ul>
</div>
