  <div class="small-12 columns">
    <ul class="inline-list">
      <li><%= link_to 'Sign Up', new_user_registration_path, id: "sign_up_menu" %></li>
      <li><%= link_to 'Sign In', new_user_session_path, id: "sign_in_menu" %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, action: :destroy %></li>
    </ul>



  </div>
